meta:
  version: 2
  flow: FABulousTile
  substituting_steps:
    # Don't resize the buffers
    OpenROAD.Resizer*: null
    OpenROAD.RepairDesign*: null

    +OpenROAD.GlobalPlacement: OpenROAD.AddBuffers

FABULOUS_TILE_DIR: dir::. #tiles/RegFile

# Basics
DESIGN_NAME: RegFile
VERILOG_FILES:
  - dir::../../models_pack.v
  - dir::../../custom.v

# Disable timing driven placement
# as it would resize the buffers
PL_TIME_DRIVEN: false

# Add buffers
DESIGN_REPAIR_BUFFER_INPUT_PORTS: False
DESIGN_REPAIR_BUFFER_OUTPUT_PORTS: True

# "AREA 0" "AREA 1" "AREA 2" "AREA 3"
SYNTH_STRATEGY: "AREA 2"

# Clock
CLOCK_PERIOD: 20
CLOCK_PORT: UserCLK

# Area
FP_SIZING: absolute
pdk::sky130A:
    DIE_AREA: [0, 0, 245, 225]
    PL_TARGET_DENSITY_PCT: 53
pdk::ihp-sg13g2:
    # Width should be multiple of 0.48 (Metal2 pitch)
    # Height should be multiple of 0.42 (Metal3 pitch)
    DIE_AREA: [0, 0, 239.04, 215.46]
    PL_TARGET_DENSITY_PCT: 93
pdk::gf180mcuD:
    # Width should be multiple of 0.56 (Metal2 pitch)
    # Height should be multiple of 0.56 (Metal3 pitch)
    # Standard cell row height: 3.92 (8 Metal3 track)
    DIE_AREA: [0, 0, 322.00, 287.28]
    PL_TARGET_DENSITY_PCT: 81
    BOTTOM_MARGIN_MULT: 1
    TOP_MARGIN_MULT: 1

SYNTH_LATCH_MAP: dir::../../latch_map.v
