meta:
  version: 2
  flow: FABulousTile
  substituting_steps:
    # Don't resize the buffers
    OpenROAD.Resizer*: null
    OpenROAD.RepairDesign*: null

    +OpenROAD.GlobalPlacement: OpenROAD.AddBuffers

FABULOUS_TILE_DIR: dir::. #tiles/IHP_SRAM

# Basics
DESIGN_NAME: IHP_SRAM
FABULOUS_SUPERTILE: true
VERILOG_FILES:
  - dir::../../models_pack.v
  - dir::../../custom.v
FABULOUS_EXTERNAL_SIDE: E

# Disable timing driven placement
# as it would resize the buffers
PL_TIME_DRIVEN: false

# Add buffers
DESIGN_REPAIR_BUFFER_INPUT_PORTS: False
DESIGN_REPAIR_BUFFER_OUTPUT_PORTS: True

# Seems to add a few buffers too
PL_ROUTABILITY_DRIVEN: false

# Clock
CLOCK_PERIOD: 20
CLOCK_PORT: Tile_X0Y1_UserCLK

# Area
FP_SIZING: absolute
pdk::ihp-sg13g2:
    # Width should be multiple of 0.48 (Metal2 pitch)
    # Height should be multiple of 0.42 (Metal3 pitch)
    DIE_AREA: [0, 0, 109.44, 430.92]
    
    PL_TARGET_DENSITY_PCT: 84
    SYNTH_STRATEGY: "AREA 0" # "AREA 0" "AREA 1" "AREA 2" "AREA 3"
    
    ROUTING_OBSTRUCTIONS:
    - [Metal2, 0, -1, 109.44, 0]

pdk::gf180mcuD:
    # Width should be multiple of 0.56 (Metal2 pitch)
    # Height should be multiple of 0.56 (Metal3 pitch)
    # Standard cell row height: 3.92 (8 Metal3 track)
    # Note: the number of pin slots must be divisable
    # by the number of segments for the side
    DIE_AREA: [0, 0, 214.48, 574.56]
    PL_TARGET_DENSITY_PCT: 80

SYNTH_LATCH_MAP: dir::../../latch_map.v
